body{
    overflow: hidden;
    margin: 0;
}

h1 {
    margin: 0;
}

.title {
    padding: 60px;
    display: flex;
    align-items: center;
}

.logo {
    width: 20%;
}

header {
    width: 60%;
}

.header-title {
    color: hsl(34, 24%, 51%);
    font-size: 65px;
    margin: 25px;
}

.container{
    max-width: 1400px;
    background: url(./assets/img/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -200px;
    width: 100vw;
    height: 130vh;
}

.result{
    position: absolute;
    width: 170px;
    text-align: center;
    font-size: 35px;
    color: red;
    left: 35%;
    bottom: 180px;
}

.inputContainer {
    position: absolute;
    top: 10%;
    right: 10%;
    background-color: hsla(34, 24%, 51%, 0.767);
    width: 20vw;
    height: 21vw;
    box-sizing: border-box;
}

.inputBox {
    width: 100%;
    height: 15%;
    display: inline-block;
    flex-direction: row;
}

.textInput {
    border: none;
    height: 25px;
    width: 12vw;
    top: 12px;
    position: absolute;
    left: 7.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}

.listBox {
    margin-top: 20px;
    height: 220px;
    overflow: auto;
}

.listName{
    list-style-type: none;
    font-size: 20px;
    color: white;
}

.cannonBlock {
    left: 20px;
    position: absolute;
    left: 4%;
    bottom: 4%;
    cursor: pointer;
}

.cannon {
    z-index: 2;
    width: 20%;
    transition: transform 0.1s;
    cursor: pointer;
}

.cannon:active{
    transform: scale(1.2)
}

.fireboat {
    width: 155px;
    height: 155px;
}

.fireboatBlock {
    position: absolute;
    left: 30%;
    bottom: 36.8%;
}

.boat1 {
    left: 20%;
    top: 20%;
    width: 200px;
    height: 200px;
} 

.boatBlock1 {
    position: absolute;
    left: 50%;
    bottom: 20%;
}

.boat2 {
    width: 160px;
    height: 160px;
}

.boatBlock2 {
    position: absolute;
    left: 30%;
    bottom: 40%;
}

.boat3 {
    width: 180px;
    height: 180px;
}

.boatBlock3 {
    position: absolute;
    left: 5%;
    bottom: 30%;
}

.boat4 {
    width: 170px;
    height: 170px;
}

.boatBlock4 {
    position: absolute;
    left: 80%;
    bottom: 30%;
}

.boat5 {
    width: 130px;
    height: 130px;
}

.boatBlock5 {
    position: absolute;
    left: 60%;
    bottom: 45%;
}

#reset {
    position: absolute;
    top: 12px;
    right: 16px;
    width: 60px;
    background-color: #6D5E49;
    color: #FFFFFF;
    border-radius: 7px;
    box-shadow: 1px 2px gray;
    border-style: none;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
}



/* @media (max-width:375px) {

    .header-title{
        font-size: 100px;
        margin: 0 160px;
    }

    .textInput {
        font-size: 50px;
        text-align: center;
    }
    .cannon {
        width: 60%;
        margin-bottom: -70px;
    }

    .boat1 {
        width: 300px;
        height: 300px;
        bottom: 100%;
        right: 100%;
    }

    .boatBlock1 {
        position: absolute;
        left: 50%;
        bottom: 10%;
    }

    .boat2 {
        width: 250px;
        height: 250px;
    }

    .boatBlock2 {
        position: absolute;
        left: 35%;
        bottom: 22%;
    }

    .boat3 {
        width: 40%;
        height: 40%;
    }

    .boat5 {
        width: 180px;
        height: 180px;
    }

    .boatBlock5 {
        position: absolute;
        left: 60%;
        bottom: 32%;
    }

    .inputContainer {
        top: 10px;
        left: 50px;
        width: 850px;
        height: 750px;
    }

    .textInput {
        top: 50px;
        left: 50px;
        right: 50px;
        width: 750px;
        height: 100px;
    }
    
}

@media (min-width:1400px) {
    .header-title {
        font-size: 50px;
        margin: 25px;
    }

    .inputContainer {
        position: relative;
        top: -50px;
        left: 1070px;
        width: 300px;
        height: 400px;
    } 

    .textInput {
        font-size: 20px;
        width: 250px;
        height: 30px;
        top: 12px;
        left: 100px;
    } */